/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/leason2/nbproject/private/
/leason2/build/
/leason2_1/nbproject/private/
/leason2_1/build/
/lesson2_2/nbproject/private/
/lesson2_2/build/
/lesson2_3/nbproject/private/
/Web_01/nbproject/private/
/Web_01/build/
/Web_03_a/nbproject/private/
/Web_03_a/build/
